body
{
    font-family:papyrus;
    font-weight:normal;
}


.nav-item
{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}

.dropdown-item
{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}

.my_footer{
    background-color:#f8f9fa;
    height:60px;
}
.my_footer p{
     padding-top:20px;
     font-size:14px;
}

/*** category page ***/
.my_row_class{
    padding-top:15px
}

.my_row_class .mx_auto{
        color:black;
        font-size:12px;
}

.my_image{
    width:100%;
    height:auto;
}
.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_image_extra{
    padding:5px;
}
.card-body h4
{
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:.2em;
}

/***product***/
.stock{
        color:red;
}
.my_prod_title{
    padding-top:20px;
    text-transform:uppercase;
    font-size:20px;

}

/***cart***/

.my_custom_table{
    min-width:400px;
    font-size:14px;
}
.my_custom_thead{
    font-weight:normal;
    letter-spacing:.2em
    text-transform:uppercase;


}
.custom_a{
    text-decoration:none;

}
.custom_icon{
    color:#868e96 !important;
    text-decoration:none;
    }
.my_custom_button{
    margin-top:10px;
    margin-right:105px;

}
.custom_image{
    width:250px;
}